<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>home page</title>
  <!-- <link rel="stylesheet" href="1activity.css" /> -->
</head>
<body>
    <h1>this is home page</h1>
    <h3><%=1+2%></h3>
    <h3>roll dice no.: <%=num%></h3>
    

    <p>
        qwertyuiodehgeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee
        eeeeeeeeeeeeeeeeeeeeeeeeeeeeeee
        qwertyuiodehgeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee
        eeeeeeeeeeeeeeeeeeeeeeeeeeeeeee     
         qwertyuiodehgeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee
        eeeeeeeeeeeeeeeeeeeeeeeeeeeeeee     
         qwertyuiodehgeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee
        eeeeeeeeeeeeeeeeeeeeeeeeeeeeeee
    </p>



  <!-- <script src="1activity.js"></script> Corrected this line -->
</body>
</html>
 