<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>insta</title>
  <!-- <link rel="stylesheet" href="1activity.css" /> -->
</head>
<body>
    <h1>this page belongs to <%= username %></h1>
    <button>follow</button>
    

  <!-- <script src="1activity.js"></script> Corrected this line -->
</body>
</html>
 